body {
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: 96px auto;
    grid-template-rows: 100px 40px auto 50px;
    grid-template-areas:
      'header header'
      'nav nav'
      'aside main'
      'footer footer';
}

@media (min-width: 1025px){
    body {
        grid-template-columns: auto 96px 928px auto;
        grid-template-areas:
        '. header header .'
        '. nav nav .'
        '. aside main .'
        '. footer footer .';
    }
}

@media (max-width: 400px){
    body {
        grid-template-columns: auto;
        grid-template-rows: 100px auto 50px;
        grid-template-areas:
        'header'
        'main'
        'footer';
    }
}

header, h4 {grid-area: header; text-align: center; border-style: double; background-color: #e9b824;}

nav{grid-area: nav; display: flex; align-items: center; padding-left: 60px; background-color: #ccccdd;}
nav a {color: #ffffff; text-decoration: none;}
nav a:hover {color: #d83f31;}
nav li {display: table-cell; text-align: center; padding: 0.5em;}

nav > ul > li > ul {
    margin: 0;
	padding: 0;
    display:none;
    position: absolute;
    background: #61677A;
}

nav > ul > li:hover > ul {
    display:block;
}

nav > ul > li > ul > li:hover {
    background: #219c90;
    transition: ease 1s;
}

main{grid-area: main; padding-left: 10px;}

aside{grid-area: aside; float:left; background: #3085c3; position: sticky; top: 0; max-height: 200px;}
aside h2 {color: #000000; text-decoration: none; background: #f4e869;}
aside a {color: #ffffff; text-decoration: none;}
aside a:hover {color: #ff0000;}
aside li {line-height: 200%; display: table-row; text-align: center; padding: 0.5em;}

footer {grid-area: footer;}

.login {
    margin-left: 1em; width: 10em; margin-bottom: 1em; padding: 0.5em;
}

#but {
    margin-left: 1em; width: 11.5em; margin-bottom: 1em; padding: 0.5em;
}

#div1{
    text-align: center;
    background-color: #f5f5dc;
    border-style: hidden;
}

#fieldset_row {
    display: table; 
    width: 100%; 
    padding: 1px;
}

#div_row {
    display: table-cell;
    width: 70%;
}

#fieldset_row > form{
    display: table-cell;
    text-align: right; 
    padding: 5px;
}

#head {
    float:right; 
    text-decoration: none;
    list-style:none;
}
#head li{
    float: left;
    margin-right: 10px;
}