header, h4 {text-align: center; border-style: double; background-color: #ffeeaa;}

.center {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#div1{
    text-align: center;
    background-color: #f5f5dc;
    border-style: hidden;
}

nav{background-color: #ccccdd; }
nav a {color: white; text-decoration: none;}
nav a:hover {color: #ff0000;}
nav li {display: table-cell; text-align: justify; padding: 0.5em;}

nav > ul > li > ul {
    margin: 0;
	padding: 0;
    display:none;
    position: absolute;
    background: gainsboro;
}

nav > ul > li:hover > ul {
    display:block;
}

nav > ul > li > ul > li:hover {
    background: green;
    transition: ease 1s;
}

aside{float:left; background-color: #ccccdd;}
aside a {color: white; text-decoration: none;}
aside a:hover {color: #ff0000;}
aside li {display: table-row; text-align: center; padding: 0.5em;}

footer{width: 99%; height: 50px; z-index: 1; bottom:0; position: fixed;}

#fieldset_row {display: table; width: 100%; padding: 1px;}
#div_row {display: table-cell; width: 70%;}
#fieldset_row > form{display: table-cell; text-align: right; padding: 5px;}