body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 60px 40px auto 35px;
}

@media (min-width: 1025px){
    body {
        grid-template-columns: auto 140px 744px 140px auto;
        grid-template-areas:
        '. . header link.'
        '. nav nav nav .'
        '. aside main main .'
        '. footer footer footer .';
    }
}

@media (max-width: 400px){
    body {
        grid-template-columns: auto;
        grid-template-rows: 60px auto 50px;
        grid-template-areas:
        'header'
        'main'
        'footer';
    }
}

header{grid-area: header; text-align: center;}

nav{grid-area: nav; display: flex; align-items: center; padding-left: 60px;}
.bg-body-tertiary > .nav-pills > .nav-item > .active{
    background-color: #363062;
}
.bg-body-tertiary > .nav-pills > .nav-item > .active:hover{
    background-color: #ff0000;
}
.bg-body-tertiary > .nav-pills > .dropdown > .dropdown-menu > li > .dropdown-item{
    background-color: #F5F5F5;
}
.bg-body-tertiary > .nav-pills > .dropdown > .dropdown-menu > li > .dropdown-item:hover{
    background-color: #4D4C7D;
    color: #F5F5F5
}

main{grid-area: main; padding-left: 10px; margin-top: 1em;}
main > form > .form-control{ margin-left: 1em; width: 12em; margin-bottom: 1em;}
main > form > .btn-outline-primary{margin-left: 1em; width: 12em; margin-bottom: 1em; padding: 0.5em; border-color: #363062; color: #363062;}
main > form > .btn-outline-primary:hover{background-color: #363062;}

aside{grid-area: aside; float:left; background: #4D4C7D; position: sticky; top: 0; max-height: 180px; margin-top: 1em;}
aside h3 {color: #000000; text-decoration: none; background: #F99417; width: 140px;}
aside a {color: #ffffff; text-decoration: none;}
aside a:hover {color: #F99417;}
aside li {line-height: 200%; display: table-row; text-align: center; padding: 0.5em;}

footer {grid-area: footer; text-align: center; border-style: hidden;}

.link {
    grid-area: link;
    float:right; 
    text-decoration: none;
    list-style:none;
}
.link li{
    float: left;
    margin-right: 10px;
}

#but {
    margin-left: 1em; width: 11.5em; margin-bottom: 1em; padding: 0.5em;
}

#div1{
    text-align: center;
    background-color: #f5f5dc;
    border-style: hidden;
}

#fieldset_row {
    display: table; 
    width: 100%; 
    padding: 1px;
}

#div_row {
    display: table-cell;
    width: 70%;
}

#fieldset_row > form{
    display: table-cell;
    text-align: right; 
    padding: 5px;
}