body {
    background-image : url('../img/background.jpg');
    background-size: 100% 100%;
    color: #F99417;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 60px 55px auto 35px;
    grid-template-columns: 140px auto;
    grid-template-areas:
    'header header'
    'nav nav'
    'main main'
    'footer footer';
}

@media (min-width: 1025px){
    body {
        grid-template-columns: auto 140px 884px auto;
        grid-template-areas:
        '. header header .'
        '. nav nav .'
        '. main main .'
        '. footer footer .';
    }
}

@media (max-width: 668px){
    body {
        grid-template-rows: 60px 55px auto 35px 0px;
        grid-template-columns: 140px auto;
        grid-template-areas:
        'header header'
        'nav nav'
        'main main'
        'footer footer';
    }
}

header{grid-area: header;}
header a img{
    float: left;
    height: 60px;
}
header .link {
    float:right;
    margin-top: 15px;
    text-decoration: none;
    list-style:none;
}
header .link li{
    margin-right: 10px;
    font-size: 95%;
}
header .link li a{
    margin-left: 10px;
    color: #f91717;
}

nav{grid-area: nav; display: flex;}
.navbar-collapse{
    background-color: #f8f9fa;
}
.navbar-collapse > .navbar-nav > .nav-item > .active{
    background-color: #363062;
    color: #F5F5F5
}
.navbar-collapse > .navbar-nav > .nav-item > .active:hover{
    background-color: #F99417;
}
.navbar-collapse > .navbar-nav > .dropdown > .dropdown-menu > li > .dropdown-item{
    background-color: #FFFFFF;
}
.navbar-collapse > .navbar-nav > .dropdown > .dropdown-menu > li > .dropdown-item:hover{
    background-color: #4D4C7D;
    color: #F5F5F5
}

main{grid-area: main; padding-left: 10px; margin-top: 1em;}
main .search {
    margin: 0 auto;
    position: relative;
    width: 55vw;
}
main .search select{
    position : absolute;
    top: 1px;
    width: 20%;
    height: 40px;
    border-radius: 8px;
    border-right-style: double;
}
main .search input {
    width: 80%;
    border: 1px solid #bbb;
    border-radius: 8px;
    border-left-style: double;
    padding: 10px 12px;
    font-size: 14px;
    margin-left: 20%;
}
main .search button{
    position : absolute;
    width: 40px;
    top: 2px;
    right: 12px;
    margin: 0;
}

 /* 슬라이드 */
main .section{
    margin: 10px;
}
main .section input[id*="slide"] {
    display:none;
}
main .section .slidewrap {
    float: left;
    min-width:200px;
    width: 50%;
}
main .section .slidelist {
    white-space:nowrap;
    font-size:0;
    overflow:hidden;
    position:relative;
    padding: 0px;
}
main .section .slidelist > li {
    display:inline-block;
    vertical-align:middle;
    width:100%;
    transition:all .5s;
}
main .section .slidelist > li > a {
    display:block;
    position:relative;
}
main .section .slidelist > li > a img {
    width:100%;
}
main .section .slidelist label {
    position:absolute;
    z-index:10;
    top:50%;
    transform:translateY(-50%);
    padding:50px;
    cursor:pointer;
}

main .section .slide-control {
    position:absolute;
    top:0;
    left:0;
    z-index:10;
    width:100%;
    height:100%;
}
main .section .slide-control label {
    position:absolute;
    z-index:1;
    top:50%;
    transform:translateY(-50%);
    padding:50px;
    cursor:pointer;
}

main .section input[id="slide01"]:checked ~ .slidewrap .slidelist > li {
    transform:translateX(0%);
}
main .section input[id="slide02"]:checked ~ .slidewrap .slidelist > li {
    transform:translateX(-100%);
}
main .section input[id="slide03"]:checked ~ .slidewrap .slidelist > li {
    transform:translateX(-200%);
}

main .section [id="slide01"]:checked ~ .slidewrap .control01 {
    display:block;
}
main .section [id="slide02"]:checked ~ .slidewrap .control02 {
    display:block;
}
main .section [id="slide03"]:checked ~ .slidewrap .control03 {
    display:block;
}

main .slide-pagelist {
    text-align:center;
    padding:10px;
}
main .slide-pagelist > li {
    display:inline-block;
    vertical-align:middle;
}
main .slide-pagelist > li > label {
    display:block;
    padding:8px 30px;
    border-radius:30px;
    background:#ccc;
    margin:20px 10px;
    cursor:pointer;
}

main .section input[id="slide01"]:checked ~ .slidewrap .slide-pagelist > li:nth-child(1) > label {
    background:#999;
}
main .section input[id="slide02"]:checked ~ .slidewrap .slide-pagelist > li:nth-child(2) > label {
    background:#999;
}
main .section input[id="slide03"]:checked ~ .slidewrap .slide-pagelist > li:nth-child(3) > label {
    background:#999;
}

footer {
    grid-area: footer;
    text-align: center;
    border-style: hidden;
}

footer img {
    height: 35px;
}

.auth_page{
    padding: 2vh 0px;
    min-height: 100vh;
    text-align: center;
}
.auth_page h1{
    max-width: 450px;
    margin: 0px auto;
}
.auth_page .auth_input .form-control{
    margin: 0px auto; width: 12em; margin-top: 1em;
}
.auth_page .auth_input .btn-outline-primary{
    margin: 0px auto; width: 12em; margin-top: 1em; padding: 0.5em; border-color: #363062; color: #363062;
}
.auth_page .auth_input .btn-outline-primary:hover{
    background-color: #363062; color: #F5F5F5
}

#id_add{
    width: 30%;
}
#id_detail{
    width: 40%;
}

#form_fieldset > legend{
    font-size: 10px;
}
#form_fieldset > .form_class{
    float: right;
}
#form_fieldset > ul{
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}
#form_fieldset > ul > label{
    width: 110px;
    margin-bottom: 10px;
}
#form_fieldset > ul > .input{
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #000000;
}

#fieldset_row {
    background: #F5F5F5;
    color: #000000;
    display: table; 
    width: 100%; 
    padding: 1px;
    border: 1px groove #000000;
}

#div_row {
    display: table-cell;
    float: left;
    max-width: 732px;
}

#fieldset_row > form{
    display: table-cell;
    text-align: right; 
    float: right;
}