<!doctype html>
<html>
    <head>
        <meta charset = "utf-8">
        <link rel="stylesheet" href="../css/form.css">
        <title><?=$title?></title>
    </head>
    <body>
        <header>
            <h1><?=$title?></h1>
        </header>
        <nav>
            <ul>
                <li><a href="php/material.php">자료 검색</a></li>
                <li>
                    <a>내서재</a>
                    <ul>
                        <li><a href="#">대출중도서</a></li>
                        <li><a href="#">모든대출내역</a></li>
                        <li><a href="#">예약내역</a></li>
                        <li><a href="#">상호대차내역</a></li>
                    </ul>
                </li>
                <li>
                    <a>마이페이지</a>
                    <ul>
                        <li><a href="/member/addupdate?mem_no='.$mem_no.'">회원정보수정</a></li>
                        <li><a href="#">회원탈퇴</a></li>
                    </ul>
                </li>                
            </ul>
        </nav>
        <main>
            <?= $outString ?>
        </main>
        <footer>
            <h4>세종 컴퓨터 학원 충북 청주시 사창동</h4>
        </footer>
    </body>
</html>