body {
    background-image : url('../img/background.gif');
    background-size: 100% 100%;
    color: #F5F5F5;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 60px 55px auto 35px;
    grid-template-columns: 140px auto;
    grid-template-areas:
    'header header'
    'nav nav'
    'main main'
    'footer footer';
}

@media (min-width: 1025px){
    body {
        grid-template-columns: auto 140px 884px auto;
        grid-template-areas:
        '. header header .'
        '. nav nav .'
        '. main main .'
        '. footer footer .';
    }
}

@media (max-width: 668px){
    body {
        grid-template-rows: 60px 55px auto 35px;
        grid-template-columns: 140px auto;
        grid-template-areas:
        'header header'
        'nav nav'
        'main main'
        'footer footer';
    }
}

header{grid-area: header;}
header a img{float: left; height: 60px;}
header .link {
    float:right;
    margin-top: 15px;
    text-decoration: none;
    list-style:none;
}
header .link li{
    margin-right: 10px;
    font-size: 95%;
}
header .link li a{
    margin-left: 10px;
    color: #f91717;
}

nav{grid-area: nav; display: flex;}
.navbar-collapse{
    background-color: #f8f9fa;
}
.navbar-collapse > .navbar-nav > .nav-item > .active{
    background-color: #363062;
    color: #F5F5F5
}
.navbar-collapse > .navbar-nav > .nav-item > .active:hover{
    background-color: #F99417;
}
.navbar-collapse > .navbar-nav > .dropdown > .dropdown-menu > li > .dropdown-item{
    background-color: #FFFFFF;
}
.navbar-collapse > .navbar-nav > .dropdown > .dropdown-menu > li > .dropdown-item:hover{
    background-color: #4D4C7D;
    color: #F5F5F5;
}

main{
    grid-area: main;
    padding-left: 10px; 
    margin-top: 0.5em;
}
main .sel { 
    margin-bottom: 10px; 
}
main .sel select {
    height: 30px;
}
main .sel button{
    position : absolute;
    width: 30px;
    height: 30px;
    margin: 0;
    background: white;
}

main .search {
    margin: 0 auto;
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}
main .search select{
    position : absolute;
    top: 1px;
    width: 20%;
    height: 40px;
    border-radius: 8px;
    border-right-style: double;
}
main .search .lib {
    margin-left: 20%;
}
main .search input {
    width: 80%;
    height: 40px;
    border: 1px solid #bbb;
    border-radius: 8px;
    border-left-style: double;
    padding: 10px 12px;
    font-size: 14px;
}
main .search button{
    position : absolute;
    width: 40px;
    height: 40px;
    margin: 0;
    background: white;
}
main .search #inbt{
    right: 1px;
}
main .search .srbt{
    width: 80px;
}

main .card {
    margin-bottom: 10px;
}
main .card .card-body .card-text{
    margin-bottom: 5px;
}

main .context {
    width: 100%;
    height: 300px;
}

footer {
    grid-area: footer; 
    text-align: center; 
    border-style: hidden;
}

footer img {
    height: 35px;
}

/*테이블 시작*/
footer .table_menu{
    display: table;
    width: 100%;
    text-align: center;
    background-color: #000000;
}

footer .table_menu table{
    margin: 0 auto;
}

footer .table_menu table td{
    padding: 10px;
}

footer .table_menu a{
    color: #FFFFFF;
    text-decoration: none;
    text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
}
/*테이블 끝*/

/* 로그인 */
.auth_page{
    padding: 2vh 0px;
    text-align: center;
}
.auth_page h1{
    max-width: 450px;
    margin: 0px auto;
}
.auth_page .auth_input .form-control{
    margin: 0px auto; width: 12em; margin-top: 1em;
}
.auth_page .auth_input .btn-outline-primary{
    margin: 0px auto; width: 12em; margin-top: 1em; padding: 0.5em; border-color: #363062; color: #363062; background-color: #F5F5F5;
}
.auth_page .auth_input .btn-outline-primary:hover{
    background-color: #363062; color: #F5F5F5;
}
.auth_page form a{
    font-size: small; color: #f91717;
}

/* 주소 */
#id_add{
    width: 30%;
}
#id_detail{
    width: 40%;
}

/* 추가, 수정 */
#form_fieldset{
    text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
}
#form_fieldset > legend{
    font-size: 10px;
}
#form_fieldset > .form_class{
    float: right;
}
#form_fieldset > ul{
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}
#form_fieldset > ul > label{
    width: 110px;
    margin-bottom: 10px;
}
#form_fieldset > ul > .input{
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #000000;
}

/* 목록 */
#fieldset_row {
    display: table; 
    width: 100%; 
    padding: 1px;
    border: 1px groove #000000;
    text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
}
#fieldset_row > form{
    display: table-cell;
    text-align: right; 
    float: right;
}
#div_row {
    display: table-cell;
    float: left;
    max-width: 732px;
}
#div_row .http{
    color: #F5F5F5;
    text-decoration: none;
}