body {
    background-image : url('../img/background.gif');
    background-size: 100% 100%;
    color: #F5F5F5;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 60px 55px auto 35px;
    grid-template-columns: 70px auto;
    grid-template-areas:
    'header header'
    'nav nav'
    'aside main'
    'footer footer';
}

@media (min-width: 1025px){
    body {
        grid-template-columns: auto 70px 954px auto;
        grid-template-areas:
        '. header header .'
        '. nav nav .'
        '. aside main .'
        '. footer footer .';
    }
}

@media (max-width: 668px){
    body {
        grid-template-rows: 60px 55px auto 35px;
        grid-template-columns: 70px auto;
        grid-template-areas:
        'header header'
        'nav nav'
        'main main'
        'footer footer'
        'aside aside';
    }
}

header h1{
    float: left;
    color: #000000;
}

main{
    grid-area: main;  
}
main .dynamic_search {
    width: calc(100% - 70px);
}
@media (min-width: 1024px){
    main .dynamic_search {
        width: 954px;
    }
}

/*카드*/
main .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.5rem;
}
main .card img{
    margin: 0 auto;
    width: 50%;
    height: 100%;
    object-fit: cover;
}

/*수치 입력부분*/
.number{
    width: 50px;
}

/*파일업로드*/
main input[type="file"] {
    display: none;
}
main .lb {
    background-color: #4D4C7D;
    cursor: pointer;
    padding-left: 22.5px;
}
.file_name{
    width: 65%;
}

/*공지사항 내용입력 부분*/
main .context {
    width: 100%;
    height: 300px;
}

aside{
    grid-area: aside; 
    float:left; 
    top: 0; 
    max-height: 180px; 
    margin-top: 0.5em; 
    z-index: 1;
}
aside .sidemenu{
    position: fixed;
}
aside #menuicon{
    display: none;
}
aside #menuicon + label {
    display: block;
    width: 60px;
    height: 40px;
    margin: 5px;
    position: relative;
    cursor: pointer;
}
aside #menuicon + label span{
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    border-radius: 30px;
    background: var(--one);
    transition: all .35s;
}
aside #menuicon + label span:nth-child(1){
    top: 0;
}
aside #menuicon + label span:nth-child(2){
    top: 50%;
    transform: translateY(-50%);
}
aside #menuicon + label span:nth-child(3){
    bottom: 0;
}
aside #menuicon:checked + label span:nth-child(1){
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}
aside #menuicon:checked + label span:nth-child(2){
    opacity: 0;
}
aside #menuicon:checked + label span:nth-child(3){
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
}
aside menu{
    opacity: 0;
}
aside #menuicon:checked + label + menu{
    padding: 0;
    margin: 0;
    opacity: 100;
    transition: all .35s;
}
aside h3 {
    color: #000000; 
    text-decoration: none; 
    background: #F99417; 
    width: 140px;
}
aside .dropdown-item {
    color: #ffffff; 
    text-decoration: none;
}
aside .dropdown-item:hover {
    color: #F99417;
}
aside li {
    line-height: 200%; 
    display: table-row; 
    text-align: center; 
    font-size: 95%; 
    background: #4D4C7D;
}

/* 주소 */
#id_add{
    width: 90%;
}
#id_detail{
    width: 100%;
}