body {
    color: #F5F5F5 !important;
    grid-template-rows: 25px auto 50px;
    grid-template-columns: auto;
    grid-template-areas:
    'header'
    'main'
    'footer';
}

main{
    grid-area: main; 
    padding-left: 10px; 
    margin-top: 1em;
}
main .search{
    margin-bottom: 5px;
}
main .search input {
    height: 40px;
    width: 80%;
}
main #kakao input{
    width: 90%;
}
main .search button {
    background-color: #FFFFFF;
    margin-bottom: 5px;
    height: 40px;
    width: 40px;
}
main .sel {
    margin-bottom: 5px;
}
main .sel select{
    height: 30px;
}

main .search .srbt{
    width: 80px;
}

/*카드*/
main .card{
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 0.5rem;
}
main .card img{
    margin: 0 auto;
    width: 50%;
    height: 100%;
    object-fit: cover;
}
main .list .card img{
    margin: 0 auto;
    width: 120px;
    height: 180px;
    object-fit: cover;
}
main .card .card-body{
    padding-top: 5px;
}
main .card .card-body .card-text{
    margin-bottom: 5px;
}

main .list .card input{
    position: absolute;
    bottom: 15px;
    right: 15px;
}