header, h4 {text-align: center; border-style: double; background-color: #ffeeaa;}
nav{background-color: #ccccdd;}

nav a {color: white; text-decoration: none;}
nav a:hover {color: #ff0000;}
nav li {display: table-cell; text-align: center; padding: 0.5em;}

#fieldset_row {display: table; width: 100%; padding: 1px;}
#div_row {display: table-cell; width: 70%;}
#fieldset_row > form{display: table-cell; text-align: right; padding: 5px;}