body {
    color: #F5F5F5;
    background-size: 100% 100%;
    grid-template-rows: 60px 55px auto 35px;
    grid-template-columns: 140px auto;
    grid-template-areas:
    'header header'
    'nav nav'
    'main main'
    'footer footer';
}

@media (min-width: 1025px){
    body {
        grid-template-columns: auto 140px 884px auto;
        grid-template-areas:
        '. header header .'
        '. nav nav .'
        '. main main .'
        'footer footer footer footer';
    }
}

@media (max-width: 668px){
    body {
        grid-template-rows: 60px 55px auto 35px;
        grid-template-columns: 140px auto;
        grid-template-areas:
        'header header'
        'nav nav'
        'main main'
        'footer footer';
    }
}

main{
    grid-area: main;
}
@media (min-width: 1024px){
    main .dynamic_search {
        width: 1024px;
    }
}

main .libmap h2{
    text-shadow: -1px 0px #000000, 0px 1px #000000, 1px 0px #000000, 0px -1px #000000;
}

/*카드*/
main .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.5rem;
}
main .card img{
    margin: 0 auto;
    width: 50%;
    height: 100%;
    object-fit: cover;
}
main .card .card-body{
    padding-top: 5px;
}
main .card .card-body .card-text{
    margin-bottom: 5px;
}

main .notcontext{
    display: flex;
}

main .notcontext a{
    width: 25%;
}

main .notcontext .context{
    width: 75%;
}

footer {
    grid-area: footer; 
    text-align: center; 
    border-style: hidden;
}

footer img {
    height: 35px;
}

/* 로그인 */
.auth_page{
    padding: 2vh 0px;
    text-align: center;
}
.auth_page h1{
    max-width: 450px;
    margin: 0px auto;
}
.auth_page .auth_input .form-control{
    margin: 0px auto; width: 12em; margin-top: 1em;
}
.auth_page .auth_input .btn-outline-primary{
    margin: 0px auto; width: 12em; margin-top: 1em; padding: 0.5em; border-color: #363062; color: #363062; background-color: #F5F5F5;
}
.auth_page .auth_input .btn-outline-primary:hover{
    background-color: #363062; color: var(--one);
}
.auth_page form a{
    font-size: small; 
    color: var(--one);
    text-shadow: -1px 0px #000000, 0px 1px #000000, 1px 0px #000000, 0px -1px #000000;
}

/* 주소 */
#id_add{
    width: 90%;
}
#id_detail{
    width: 100%;
}